.total-container {
    text-align: right;
    margin-top: 16px;
}

mat-dialog-content {
    display: flex;
    flex-direction: column;
}

mat-dialog-content {
    align-items: center;
}

table {
    color: #f2f2f2;
}