.check {
    font-size: 3vw;
    color: #60992d;
    height: 3vw;
    width: 3vw;
}

mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (max-width: 767px) {
    .check {
        font-size: 5vw;
        color: #64dd17;
        height: 5vw;
        width: 5vw;
    }
    p {
        display: none;
    }
}